{{#cp-panel name=name as |p|}}
  <div class="row hierarchy-item notification-hierarchy-item">
    <div class="row hierarchy-wrapper {{if p.isOpen 'open'}}">
      <div class="col-xs-1">
        {{#if item.subordinates}}
        {{#p.toggle}}
          {{#if p.isOpen}}
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
          {{else}}
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          {{/if}}
        {{/p.toggle}}
        {{else}}
        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
        {{/if}}
        <img src={{item.photo}}>
      </div>
      <div class="col-xs-3">
        <strong>
          {{#link-to 'evaluation.staff-evaluation' item.id class=(concat 'rated' item.evaluation.rating)}}
          {{item.fullName}}
          {{/link-to}}
        </strong>
      </div>
      <div class="col-xs-3">{{item.employeeId}}</div>
      <div class="col-xs-3">{{item.position}}</div>
      <div class="col-xs-2">
        {{#if item.evaluation.rating}}
        <strong class="rating">
          {{#link-to 'evaluation.staff-evaluation' item.id class=(concat 'rated' item.evaluation.rating)}}
          Rated {{item.evaluation.rating}}
          {{/link-to}}
        </strong>
        {{else}}
        Not Rated
        {{/if}}
      </div>
    </div>
  </div>
  {{#p.body}}
    {{#each item.subordinates as |sub|}}
    {{notification-hierarchy-item item=sub}}
    {{/each}}
  {{/p.body}}
{{/cp-panel}}
{{yield}}
