<a class="intervene" {{action "toggleModal"}}>I'll Intervene</a>

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    <div class="modal-ews">
      <!-- Default panel contents -->
      <div class="modal-heading">
        I'll Intervene
      </div>

      <!-- FORM -->
      <form>
        <input class="subject" type="text" placeholder="Whether you want to text to them, or something you are planning to do."/>

        <div class="recipient">For: <span class="name">{{owner.fullName}}</span></div>

        <div class="msg">Contact:</div>

        <div class="add-contact"><a {{action 'toggleAddContact'}}>+</a></div>
        <input class="recipient" type="text" value="{{owner.fullName}}; " disabled/>
        {{#if isShowingAddContact}}
          <div class="contacts">
            <div class="carat"><span class="inner"></span></div>
          </div>
        {{/if}}

        <textarea class="body" rows="7" placeholder="What's it for?"/>

        <div class="modal-buttons">
          <button class="close-modal" {{action "toggleModal"}}>Close</button>
          <button class="action" {{action "toggleModal"}}>Send Message</button>
        </div>

      </form>
    </div>

    {{yield}}

  {{/modal-dialog}}
{{/if}}
