{{navbar-ews}}
<div class="container">
  {{talent-report reports=model.talents}}
  {{direct-report reports=model.subordinates}}
  {{#if model.notifications.length}}
  {{warning-info report=model}}
  {{/if}}
</div>
{{outlet}}
