{{navbar-ews}}
<div class="container">
  {{#if currentUser.user.isTalentManager}}
  {{#if currentUser.user.talents}}
  {{talent-report sendMsg=(action "send") model=currentUser.user reports=currentUser.user.talents isSent=isSent isError=isError sending=sending}}
  {{/if}}
  {{/if}}

  {{#if currentUser.user.subordinates}}
  {{direct-report reports=currentUser.user.subordinates}}
  {{/if}}
  
  {{#unless currentUser.user.isTalentManager}}
  {{#if currentUser.user.notifications}}
  {{warning-info report=currentUser.user}}
  {{/if}}
  {{/unless}}
</div>
{{outlet}}
